body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

.panel {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #000;
}

.side-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 20%;
    height: 100%;
}

.box {
    flex: 1;
    margin: 2px 0;
}

.center {
    width: 60%;
    text-align: center;
    font-size: 2em;
}

/* Color configurable desde JavaScript */
.panel, .side-container .box {
    background-color: var(--server-color); /* Utilizaremos una variable CSS */
}
